accelerate
Cython
cython_bbox
easydict
einops
ema_pytorch
filterpy
gdown
h5py
imageio
lap
matplotlib
motmetrics
numpy
onnx
onnxsim
openvino
pandas
Pillow
pycocotools
pytest
PyYAML
scipy
setuptools
six
scikit-image
tensorboardX
torch==2.3.1
torchvision==0.18.1
tqdm
yacs
